HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Chặn file cấu hình nhạy cảm (QUAN TRỌNG NHẤT)
.env
application.properties

# Chặn các file rác của IntelliJ và Java
.idea/
target/
*.class
*.iml
.mvn/
mvnw
mvnw.cmd

# Chặn các file hệ thống
.DS_Store
Thumbs.db

src/main/resources/*.csv
src/main/resources/*.json