:host { display: block; }

.size-2 { width: 10px; height: 10px; }
.size-8 { width: 32px; height: 32px; }
.size-10 { width: 40px; height: 40px; }

/* small tweaks to ensure scroll area grows */
main { min-height: 0; }
#scrollWrap { overflow-y: auto; }
